<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>EventApp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro Eventos</h1>

    <form action="" method="post">
        Nome <input type="text" value="" name="Nome">
        Local <input type="text" value="" name="Local">
        Data <input type="date" value="" name="Data">
        Horario <input type="time" value="" name="Horario">

        <button type="submit">Salvar</button>
    </form>
</body>
</html>